@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

// Primary Variables
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);

// Neutral Colors
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

// font-family

$font-family: "Bai Jamjuree", sans-serif;

// font-size

$fs-48: 3rem;
$fs-32: 2rem;
$fs-24: 1.5rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
$fs-12: 0.75rem;
